@font-face {
    font-family: Ole;
    src: url('fonts/Ole-Regular.ttf');
}

body {
    margin: 0;
}

#box {
    border: solid 1rem aquamarine;
    height: 95.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:honeydew;
}

#other-box {
    border: dotted 0.5rem brown;
    height: 60%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
}

#other-other-box {
    border: dashed 0.5rem aquamarine;
    height: 60%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: honeydew;
}

h2 {
    font-family: fantasy;
    color:cornflowerblue;
    font-size: 3rem;
}